body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(18, 3, 3) !important;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  text-align: center;
  margin-bottom: 10px;
}

.image-area {
  width: 40%;
  margin-left: 20px;
}

.image-area img {
  width: 100%;
  height: auto;
}

main {
  padding: 20px;
}

.details {
  margin-bottom: 20px;
}

.contentText {
  display: flex;
  align-items: flex-start;
}

.text-area {
  width: 60%;
}

.region,
.content {
  margin-bottom: 10px;
}

.search-area {
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-box button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save-button {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: 150px;
}

.button-area {
  display: flex;
  justify-content: center;
}

.back-button,
.info-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-area,
.details {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.1);
}

#loading {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  color: gray;
}
