# Node modules
node_modules/

# Environment variables
.env

# Lock file (optional)
package-lock.json

# OS / Editor files (optional)
.DS_Store
Thumbs.db
.vscode/
.idea/

#aside
aside.js
aside.html

#내 서버
server.js

# 로그 파일
*.log

# 빌드 산출물
dist/
build/
coverage/

#
package.json